body {
  /* background: blue; */
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background: white;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.cell:before {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.token-laser:before {
  content: 'L';
}

.token-target:before {
  content: 'T';
}

.token-checkpoint:before {
  content: 'C';
  background: yellow;
}

.token-beam-splitter:before {
  content: 'b';
}

.token-double-mirror:before {
  content: 'm';
}

.token-cell-blocker:before {
  content: 'x';
  color: white;
  background: black;
}

.border {
  border: 1px solid red;
}
