body {
  /* background: blue; */
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background: white;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.cell:before {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.token-laser:before {
  content: '▶️';
}

.token-target:before {
  content: '🎯';
}

.token-checkpoint:before {
  content: '⛩️';
  background: yellow;
}

.token-beam-splitter:before {
  content: '↔️';
}

.token-double-mirror:before {
  content: '🪞';
}

.token-cell-blocker:before {
  content: '🚧';
}

.border {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
}
